---

---
<section>
    <div>
        <nav class="m-5 p-2 rounded-md bg-slate-600 flex flex-row justify-end">
            <ul class="flex flex-row">
                <li><a>Home</a></li>
                <li><a>About</a></li>
                <li><a>Portfolio</a></li>
            </ul>
        </nav>
    </div>
</section>

<style>
    a{
        color: #fff;
        text-decoration: none;
    }
    li{
        list-style: none;
        padding: 5px;
        margin: 5px;
    }
    li>:hover{
        background-color: #fff;
        border-radius: 5px;
        color: #000;
        cursor: pointer;
    }
</style>